<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title"> Students</h4>
                <button type="button" class="btn btn-primary">Add Student</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table">
                        <thead class=" text-primary">
                            <th>
                                #
                            </th>
                            <th>
                                Firstname
                            </th>
                            <th>
                                Lastname </th>
                            <th>
                                Email
                            </th>
                            <th class="text-right">
                                Phone Number
                            </th>
                            <th class="text-right">
                                Age
                            </th>
                        </thead>
                        <tbody *ngFor="let student of students">
                            <tr>
                                <td>
                                    {{student.id}}
                                </td>
                                <td>
                                   {{student.firstName}}
                                </td>
                                <td>
                                    {{student.lastName}}
                                </td>
                                <td>
                                    {{student.email}}
                                </td>
                                <td class="text-right">
                                    {{student.phoneNumber}}
                                </td>
                                <td class="text-right">
                                    {{student.age}}
                                </td>
                                <td>
                                    <button type="button" class="btn btn-success btn-sm mr-2">Edit</button>
                                    <button type="button" class="btn btn-primary btn-sm mr-2">View</button>
                                    <button type="button" class="btn btn-danger btn-sm mr-2">Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>